*~
\#*\#
.deps
*.gmo
Makefile.in
dbus-glue.h
INSTALL
Makefile
config.h
config.log
config.status
configure
autom4te.cache
aclocal.m4
depcomp
install-sh
POTFILES
stamp-it
intltool-update.in
stamp-h1
gnotime.spec
gnotime.schemas
TAGS
gnotime.desktop
