*~
\#*\#
.deps
*.gmo
Makefile.in
dbus-glue.h
INSTALL
missing
mkinstalldirs
Makefile
config.h
config.h.in
config.log
config.status
configure
autom4te.cache
aclocal.m4
depcomp
install-sh
POTFILES
stamp-it
intltool-update.in
intltool-extract.in
intltool-merge.in
stamp-h1
gnotime.spec
TAGS
gnotime.desktop
omf_timestamp
gnotime-*.omf.out
build


## Files that gettext autopoint restore during autogen
ABOUT-NLS
config.rpath
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
m4/

