[Desktop Entry]
Encoding=UTF-8
Name=GnoTime Tracking Tool
Name[pt_BR]=Ferramenta de controle de tempo GnoTime
Comment=To-Do List Organizer, Diary and Billing System
Comment[pt_BR]=Organizador de Lista de A Fazer, Diário e Sistema de Cobrança
Exec=gnotime
Icon=gnome-cromagnon.png
Terminal=false
Type=Application
Categories=Application;Office;ProjectManagement;GNOME;
StartupNotify=true
