[Desktop Entry]
Encoding=UTF-8
Name=GnoTime Tracking Tool
Comment=To-Do List Organizer, Diary and Billing System
Exec=gnotime
Icon=gnotime_128x128.png
Terminal=false
Type=Application
Categories=Office;ProjectManagement;
StartupNotify=true
