<!-- 
  -  FILE: gtt-style.css
  -  Please note this is not a true stand-alone style-sheet.
  -  This file is meant to be inlined with the web pages!
  -->
<style type="text/css">
	body
	{
	background: #c8c8d3;
	font-color: #000000;
	}
	.gnotime-diary-entry,
	.gnotime-project-status
	{
	background: #e0e0e0;
	display: block;
	width: 98%;
	margin: 4px 2px 4px 8px;
	border: solid 2px #000000;
	margin: 4px 2px 4px 8px;
	}
	.gnotime-diary-memo
	{
	font-size: 120%;
	font-weight: bold;
	font-stretch: wider;
	margin: 4px 2px 1px 6px;
	}
	.gnotime-diary-notes,
	.gnotime-project-status-notes
	{
	background: #f8f8f0;
	width: 100%;
	border: 0px;
	margin: 4px 2px 1px 6px;
	}
	.gnotime-start-stop-table,
	.gnotime-todo-table,
	.gnotime-daily-table
	{
	background: #f8f8f0;
	margin: 4px 4px 4px 4px;
	border: solid 1px #9999a9
	}
	.gnotime-start-stop-table-header,
	.gnotime-todo-table-header,
	.gnotime-daily-table-header
	{
	background: #e8e8e8;
	font-size: 105%;
	font-weight: bold;
	}
	.gnotime-project-status-overview,
	.gnotime-daily-overview
	{
	background: #e8e8e8;
	display: block;
	font-size: 105%;
	font-weight: bold;
	}
	.gnotime-activity-time
	{
	text-align: right;
	}
</style>
